In [1]:
import pandas as pd
import matplotlib.pyplot as plt


df = pd.read_csv('Icfes-2014.csv')

In [3]:
df.head()

,periodo,estu_tipodocumento,estu_consecutivo,cole_area_ubicacion,cole_bilingue,cole_calendario,cole_caracter,cole_cod_dane_establecimiento,cole_cod_dane_sede,cole_cod_depto_ubicacion,...,fami_tienecomputador,fami_tieneinternet,fami_tienelavadora,desemp_ingles,punt_ingles,punt_matematicas,punt_sociales_ciudadanas,punt_c_naturales,punt_lectura_critica,punt_global
0,20142,CC,SB11201420474807,URBANO,N,A,ACADÉMICO,1.052500e+11,105250000975,5,...,No,No,No,A1,49.0,29.0,40.0,46.0,33.0,190.0
1,20142,TI,SB11201420111089,URBANO,N,A,ACADÉMICO,3.110010e+11,311001004820,11,...,Si,Si,Si,A2,61.0,59.0,64.0,63.0,63.0,311.0
2,20142,CC,SB11201420452682,URBANO,N,A,TÉCNICO/ACADÉMICO,1.177770e+11,117777000432,17,...,No,No,No,A-,48.0,36.0,41.0,49.0,38.0,208.0
3,20142,TI,SB11201420125074,URBANO,N,A,TÉCNICO/ACADÉMICO,1.660010e+11,166001002339,66,...,Si,Si,No,A2,66.0,64.0,59.0,60.0,55.0,300.0
4,20142,TI,SB11201420458659,URBANO,N,A,ACADÉMICO,3.111020e+11,311102001287,11,...,Si,Si,Si,A1,49.0,56.0,65.0,66.0,61.0,305.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571637 entries, 0 to 571636
Data columns (total 51 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   periodo                        571637 non-null  int64
 1   estu_tipodocumento             571637 non-null  object
 2   estu_consecutivo               571637 non-null  object
 3   cole_area_ubicacion            571632 non-null  object
 4   cole_bilingue                  507532 non-null  object
 5   cole_calendario                571637 non-null  object
 6   cole_caracter                  569420 non-null  object
 7   cole_cod_dane_establecimiento  571542 non-null  float64
 8   cole_cod_dane_sede             571637 non-null  int64
 9   cole_cod_depto_ubicacion       571637 non-null  int64
 10  cole_cod_mcpio_ubicacion       571637 non-null  int64
 11  cole_codigo_icfes              571637 non-null  int64
 12  cole_depto_ubicacion           571637 non-null  object
 13  cole_genero                    571637 non-null  object
 14  cole_jornada                   571637 non-null  object
 15  cole_mcpio_ubicacion           571637 non-null  object
 16  cole_naturaleza                571637 non-null  object
 17  cole_nombre_establecimiento    571637 non-null  object
 18  cole_nombre_sede               571637 non-null  object
 19  cole_sede_principal            571637 non-null  object
 20  estu_cod_depto_presentacion    571168 non-null  float64
 21  estu_cod_mcpio_presentacion    571600 non-null  float64
 22  estu_cod_reside_depto          571484 non-null  float64
 23  estu_cod_reside_mcpio          571484 non-null  float64
 24  estu_depto_presentacion        571637 non-null  object
 25  estu_depto_reside              571484 non-null  object
 26  estu_estadoinvestigacion       571637 non-null  object
 27  estu_estudiante                571637 non-null  object
 28  estu_fechanacimiento           571637 non-null  object
 29  estu_genero                    571132 non-null  object
 30  estu_mcpio_presentacion        571636 non-null  object
 31  estu_mcpio_reside              571484 non-null  object
 32  estu_nacionalidad              571637 non-null  object
 33  estu_pais_reside               571637 non-null  object
 34  estu_privado_libertad          571637 non-null  object
 35  fami_cuartoshogar              569702 non-null  object
 36  fami_educacionmadre            569702 non-null  object
 37  fami_educacionpadre            569702 non-null  object
 38  fami_estratovivienda           569702 non-null  object
 39  fami_personashogar             569702 non-null  object
 40  fami_tieneautomovil            569702 non-null  object
 41  fami_tienecomputador           569702 non-null  object
 42  fami_tieneinternet             569702 non-null  object
 43  fami_tienelavadora             569702 non-null  object
 44  desemp_ingles                  571637 non-null  object
 45  punt_ingles                    571168 non-null  float64
 46  punt_matematicas               571600 non-null  float64
 47  punt_sociales_ciudadanas       546795 non-null  float64
 48  punt_c_naturales               546737 non-null  float64
 49  punt_lectura_critica           546727 non-null  float64
 50  punt_global                    546727 non-null  float64
dtypes: float64(11), int64(5), object(35)
memory usage: 222.4+ MB

In [2]:
df.describe()

,periodo,cole_cod_dane_establecimiento,cole_cod_dane_sede,cole_cod_depto_ubicacion,cole_cod_mcpio_ubicacion,cole_codigo_icfes,estu_cod_depto_presentacion,estu_cod_mcpio_presentacion,estu_cod_reside_depto,estu_cod_reside_mcpio,punt_ingles,punt_matematicas,punt_sociales_ciudadanas,punt_c_naturales,punt_lectura_critica,punt_global
count,571637.000000,5.715420e+05,5.716370e+05,571637.000000,571637.000000,571637.000000,571168.000000,571600.000000,571484.000000,571484.000000,571168.000000,571600.000000,546795.000000,546737.000000,546727.000000,546727.000000
mean,20141.956423,2.099978e+11,2.111269e+11,33.037520,33262.018466,78427.329569,32.923501,33102.457892,84.548194,33166.281185,50.216022,50.019099,49.961009,50.017809,50.024621,249.883225
std,0.204151,9.548191e+10,9.837833e+10,26.822233,26845.979747,52903.992074,26.839512,26870.902016,1945.925630,26850.675693,10.561544,10.147326,9.976662,10.020930,9.969741,43.396755
min,20141.000000,1.050010e+11,1.050010e+11,5.000000,5001.000000,18.000000,5.000000,8.000000,5.000000,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,20142.000000,1.190010e+11,1.190010e+11,11.000000,11001.000000,28183.000000,11.000000,11001.000000,11.000000,11001.000000,44.000000,43.000000,43.000000,43.000000,43.000000,219.000000
50%,20142.000000,1.760010e+11,1.760010e+11,20.000000,20250.000000,77800.000000,20.000000,20011.000000,20.000000,20175.000000,48.000000,49.000000,50.000000,49.000000,50.000000,246.000000
75%,20142.000000,3.110010e+11,3.110010e+11,54.000000,54720.000000,122044.000000,54.000000,54518.000000,54.000000,54520.000000,53.000000,56.000000,56.000000,56.000000,57.000000,277.000000
max,20142.000000,5.684320e+11,8.548740e+11,99.000000,99773.000000,190686.000000,99.000000,99773.000000,76233.000000,99773.000000,100.000000,109.000000,100.000000,100.000000,100.000000,482.000000

In [14]:
df = df.drop_duplicates() #eliminar duplicados

In [15]:
df.isnull().sum()

periodo                              0
estu_tipodocumento                   0
estu_consecutivo                     0
cole_area_ubicacion                  5
cole_bilingue                    63977
cole_calendario                      0
cole_caracter                     2217
cole_cod_dane_establecimiento       95
cole_cod_dane_sede                   0
cole_cod_depto_ubicacion             0
cole_cod_mcpio_ubicacion             0
cole_codigo_icfes                    0
cole_depto_ubicacion                 0
cole_genero                          0
cole_jornada                         0
cole_mcpio_ubicacion                 0
cole_naturaleza                      0
cole_nombre_establecimiento          0
cole_nombre_sede                     0
cole_sede_principal                  0
estu_cod_depto_presentacion        469
estu_cod_mcpio_presentacion         37
estu_cod_reside_depto              153
estu_cod_reside_mcpio              153
estu_depto_presentacion              0
estu_depto_reside                  153
estu_estadoinvestigacion             0
estu_estudiante                      0
estu_fechanacimiento                 0
estu_genero                        504
estu_mcpio_presentacion              1
estu_mcpio_reside                  153
estu_nacionalidad                    0
estu_pais_reside                     0
estu_privado_libertad                0
fami_cuartoshogar                 1934
fami_educacionmadre               1934
fami_educacionpadre               1934
fami_estratovivienda              1934
fami_personashogar                1934
fami_tieneautomovil               1934
fami_tienecomputador              1934
fami_tieneinternet                1934
fami_tienelavadora                1934
desemp_ingles                        0
punt_ingles                        469
punt_matematicas                    37
punt_sociales_ciudadanas         24825
punt_c_naturales                 24883
punt_lectura_critica             24893
punt_global                      24893
dtype: int64

In [16]:
df.nunique()  # Devuelve el número de valores únicos por columna

periodo                               2
estu_tipodocumento                    8
estu_consecutivo                 569428
cole_area_ubicacion                   2
cole_bilingue                         2
cole_calendario                       3
cole_caracter                         4
cole_cod_dane_establecimiento      9887
cole_cod_dane_sede                10112
cole_cod_depto_ubicacion             33
cole_cod_mcpio_ubicacion           1105
cole_codigo_icfes                 12291
cole_depto_ubicacion                 33
cole_genero                           3
cole_jornada                          6
cole_mcpio_ubicacion               1022
cole_naturaleza                       2
cole_nombre_establecimiento        8978
cole_nombre_sede                   9506
cole_sede_principal                  10
estu_cod_depto_presentacion          33
estu_cod_mcpio_presentacion         466
estu_cod_reside_depto                44
estu_cod_reside_mcpio              1116
estu_depto_presentacion              43
estu_depto_reside                    35
estu_estadoinvestigacion              9
estu_estudiante                       3
estu_fechanacimiento              13599
estu_genero                         386
estu_mcpio_presentacion             480
estu_mcpio_reside                  1029
estu_nacionalidad                    47
estu_pais_reside                     38
estu_privado_libertad                 3
fami_cuartoshogar                    12
fami_educacionmadre                  20
fami_educacionpadre                  17
fami_estratovivienda                 17
fami_personashogar                   25
fami_tieneautomovil                  18
fami_tienecomputador                  9
fami_tieneinternet                    2
fami_tienelavadora                    2
desemp_ingles                         7
punt_ingles                          82
punt_matematicas                     95
punt_sociales_ciudadanas             80
punt_c_naturales                     83
punt_lectura_critica                 75
punt_global                         450
dtype: int64

In [ ]:
#Se observa a simple vista que hay muchos valores de estrato, en Colombia no hay tantos estratos
#Se revisa cuanto valores unicos hay
df["fami_estratovivienda"].unique()

array(['Estrato 1', 'Estrato 2', 'Estrato 5', 'Estrato 3', 'Estrato 4',
       'Estrato 6', 'Secundaria (Bachillerato) completa', nan,
       'Primaria completa', 'Educación profesional completa',
       'Primaria incompleta', 'Secundaria (Bachillerato) incompleta',
       'Ninguno', 'Técnica o tecnológica completa',
       'Técnica o tecnológica incompleta', 'No sabe', 'Postgrado',
       'Educación profesional incompleta'], dtype=object)

In [ ]:
#En efecto hay mas valores en estratos de los que se deberia, se procede a ver si son muchos los datos afectados.
df["fami_estratovivienda"].value_counts()

fami_estratovivienda
Estrato 1                               233171
Estrato 2                               195266
Estrato 3                               102322
Estrato 4                                22790
Estrato 5                                 8600
Estrato 6                                 4876
Secundaria (Bachillerato) completa          99
Secundaria (Bachillerato) incompleta        82
Primaria incompleta                         75
Primaria completa                           58
Educación profesional completa              55
Técnica o tecnológica completa              31
No sabe                                     28
Ninguno                                     17
Técnica o tecnológica incompleta            16
Educación profesional incompleta             6
Postgrado                                    2
Name: count, dtype: int64

In [ ]:
#Se eliminan columnas diferentes a estrato 1, 2, 3, 4, 5, 6 , se consideran como error, la cantidad de datos que se eliminan son muy pequeña en comparación
Validos=["Estrato 1", "Estrato 2","Estrato 3","Estrato 4","Estrato 5","Estrato 6"]
df = df[df["fami_estratovivienda"].isin(Validos)]
#Se verifica otra vez el numero 
df["fami_estratovivienda"].value_counts()

fami_estratovivienda
Estrato 1    233171
Estrato 2    195266
Estrato 3    102322
Estrato 4     22790
Estrato 5      8600
Estrato 6      4876
Name: count, dtype: int64

In [ ]:
#Se vuelve a revisar que columnas pueden tener mas valores de los que deberian.
df.nunique()  # Devuelve el número de valores únicos por columna

periodo                               2
estu_tipodocumento                    8
estu_consecutivo                 567025
cole_area_ubicacion                   2
cole_bilingue                         2
cole_calendario                       3
cole_caracter                         4
cole_cod_dane_establecimiento      9847
cole_cod_dane_sede                10071
cole_cod_depto_ubicacion             33
cole_cod_mcpio_ubicacion           1105
cole_codigo_icfes                 12234
cole_depto_ubicacion                 33
cole_genero                           3
cole_jornada                          6
cole_mcpio_ubicacion               1022
cole_naturaleza                       2
cole_nombre_establecimiento        8943
cole_nombre_sede                   9463
cole_sede_principal                   2
estu_cod_depto_presentacion          33
estu_cod_mcpio_presentacion         457
estu_cod_reside_depto                33
estu_cod_reside_mcpio              1110
estu_depto_presentacion              33
estu_depto_reside                    33
estu_estadoinvestigacion              2
estu_estudiante                       1
estu_fechanacimiento              13571
estu_genero                           2
estu_mcpio_presentacion             441
estu_mcpio_reside                  1027
estu_nacionalidad                    36
estu_pais_reside                     36
estu_privado_libertad                 2
fami_cuartoshogar                    10
fami_educacionmadre                  11
fami_educacionpadre                  11
fami_estratovivienda                  6
fami_personashogar                   12
fami_tieneautomovil                   2
fami_tienecomputador                  2
fami_tieneinternet                    2
fami_tienelavadora                    2
desemp_ingles                         5
punt_ingles                          82
punt_matematicas                     95
punt_sociales_ciudadanas             78
punt_c_naturales                     83
punt_lectura_critica                 71
punt_global                         440
dtype: int64

In [28]:
df["estu_pais_reside"].unique()
df["estu_pais_reside"].value_counts()

estu_pais_reside
COLOMBIA                566853
VENEZUELA                   40
ESTADOS UNIDOS              26
ESPAÑA                      14
ECUADOR                     13
PERÚ                        11
MÉXICO                       9
BRASIL                       6
FRANCIA                      5
COREA DEL SUR                3
CHILE                        3
ARGENTINA                    3
REINO UNIDO                  3
ALEMANIA                     3
PORTUGAL                     3
JAPÓN                        3
CANADÁ                       2
RUSIA                        2
ITALIA                       2
REPÚBLICA DOMINICANA         2
CHINA                        2
COMORAS                      2
COSTA RICA                   2
ARUBA                        1
SUDÁFRICA                    1
BOLIVIA                      1
FILIPINAS                    1
CABO VERDE                   1
CUBA                         1
URUGUAY                      1
PUERTO RICO                  1
ZIMBABUE                     1
OMÁN                         1
LÍBANO                       1
NORUEGA                      1
PARAGUAY                     1
Name: count, dtype: int64

In [ ]:
##33 departamentos, cuenta a Bogotá separado de Cundinamarca.
df["estu_depto_presentacion"].value_counts()

estu_depto_presentacion
BOGOTÁ             98728
ANTIOQUIA          75787
VALLE              49531
CUNDINAMARCA       34928
ATLANTICO          29470
SANTANDER          27405
BOLIVAR            23952
CORDOBA            18392
BOYACA             18152
NARIÑO             17760
TOLIMA             16662
NORTE SANTANDER    15770
MAGDALENA          14882
CAUCA              14483
HUILA              14227
CALDAS             12624
CESAR              12417
META               11903
RISARALDA          10917
SUCRE              10871
QUINDIO             7131
LA GUAJIRA          6980
CASANARE            5994
PUTUMAYO            3989
CAQUETA             3986
CHOCO               3828
ARAUCA              2865
GUAVIARE             973
AMAZONAS             717
SAN ANDRES           652
VICHADA              467
VAUPES               316
GUAINIA              266
Name: count, dtype: int64

In [ ]:
#Se mira el numero de personar por hogar, para ver si hay error, no hay
df["fami_personashogar"].unique()

array(['Nueve', 'Cuatro', 'Tres', 'Cinco', 'Dos', 'Seis', 'Siete', 'Ocho',
       'Doce o más', 'Una', 'Diez', 'Once'], dtype=object)

In [ ]:
#Se verifica que no existan errores en esta columna, no hay errores
df["estu_privado_libertad"].value_counts()

estu_privado_libertad
N    566940
S        85
Name: count, dtype: int64

In [ ]:
df["punt_matematicas"].unique()  
#Tiene puntajes superiores a 100, eso es un error, teoricamente.

array([ 29.,  59.,  36.,  64.,  56.,  39.,  52.,  49.,  69.,  51.,  50.,
        42.,  55.,  38.,  41.,  53.,  47.,  35.,  70.,  58.,  48.,  37.,
        45.,  43.,  61.,  40.,  60.,  62.,  57.,  63.,  67.,  28.,  85.,
        44.,  34.,  33.,  54.,  66.,  32.,  65.,  81.,  77.,  46.,  75.,
        78.,  83.,  87.,  72.,  31.,  27.,  26.,  76.,  79.,  82.,  89.,
        30.,  74.,  24.,  73.,  90.,  12.,  25.,  16.,  23.,  17.,  99.,
        95.,  13., 107.,  11., 100.,  20.,  93.,  91.,  21.,  92., 106.,
         0.,  80.,  68.,  19., 108.,  86.,  84., 109.,   8.,   1.,   7.,
        94.,  71.,   9.,  10.,  88.,  96.,  97.])

In [ ]:
#Ver cuantos datos tienen esta particularidad
df[df["punt_matematicas"] > 100].shape[0]

86

In [44]:
#Ver las filas
df[df["punt_matematicas"] > 100]

,periodo,estu_tipodocumento,estu_consecutivo,cole_area_ubicacion,cole_bilingue,cole_calendario,cole_caracter,cole_cod_dane_establecimiento,cole_cod_dane_sede,cole_cod_depto_ubicacion,...,fami_tienecomputador,fami_tieneinternet,fami_tienelavadora,desemp_ingles,punt_ingles,punt_matematicas,punt_sociales_ciudadanas,punt_c_naturales,punt_lectura_critica,punt_global
4109,20141,TI,SB11201410010671,URBANO,S,B,ACADÉMICO,3.117690e+11,311769003342,11,...,Si,Si,Si,B+,94.0,107.0,NaN,NaN,NaN,NaN
10300,20141,CC,SB11201410009734,URBANO,S,B,ACADÉMICO,3.117690e+11,311769004292,11,...,Si,Si,Si,B+,83.0,106.0,NaN,NaN,NaN,NaN
15041,20141,TI,SB11201410029065,URBANO,S,B,ACADÉMICO,3.760010e+11,376001043617,76,...,Si,Si,Si,B+,94.0,106.0,NaN,NaN,NaN,NaN
16612,20141,TI,SB11201410019287,URBANO,S,B,ACADÉMICO,3.760010e+11,376001002121,76,...,Si,Si,Si,B+,89.0,107.0,NaN,NaN,NaN,NaN
16998,20141,TI,SB11201410002955,URBANO,S,B,ACADÉMICO,3.117690e+11,311769000921,11,...,Si,Si,Si,B+,89.0,108.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555921,20141,TI,SB11201410018904,URBANO,S,B,ACADÉMICO,3.682760e+11,368276000826,68,...,Si,Si,Si,B+,100.0,106.0,NaN,NaN,NaN,NaN
556462,20141,TI,SB11201410028615,URBANO,S,B,ACADÉMICO,3.760010e+11,376001043617,76,...,Si,Si,Si,B1,75.0,108.0,NaN,NaN,NaN,NaN
560085,20141,TI,SB11201410009763,URBANO,S,B,ACADÉMICO,3.117690e+11,311769004292,11,...,Si,Si,Si,B+,89.0,108.0,NaN,NaN,NaN,NaN
562744,20141,TI,SB11201410041355,URBANO,NaN,B,ACADÉMICO,3.085731e+11,308573074909,8,...,Si,Si,Si,B1,80.0,108.0,NaN,NaN,NaN,NaN
568826,20141,TI,SB11201410011633,URBANO,S,B,ACADÉMICO,3.117690e+11,311769001781,11,...,Si,Si,Si,B+,100.0,108.0,NaN,NaN,NaN,NaN

In [46]:
df = df[~(
    (df["punt_ingles"] > 100) |
    (df["punt_matematicas"] > 100) |
    (df["punt_sociales_ciudadanas"] > 100) |
    (df["punt_c_naturales"] > 100) |
    (df["punt_lectura_critica"] > 100)
)]

In [47]:
df.isnull().sum()

periodo                              0
estu_tipodocumento                   0
estu_consecutivo                     0
cole_area_ubicacion                  0
cole_bilingue                    63656
cole_calendario                      0
cole_caracter                     2006
cole_cod_dane_establecimiento       95
cole_cod_dane_sede                   0
cole_cod_depto_ubicacion             0
cole_cod_mcpio_ubicacion             0
cole_codigo_icfes                    0
cole_depto_ubicacion                 0
cole_genero                          0
cole_jornada                         0
cole_mcpio_ubicacion                 0
cole_naturaleza                      0
cole_nombre_establecimiento          0
cole_nombre_sede                     0
cole_sede_principal                  0
estu_cod_depto_presentacion          0
estu_cod_mcpio_presentacion          0
estu_cod_reside_depto               17
estu_cod_reside_mcpio               17
estu_depto_presentacion              0
estu_depto_reside                   17
estu_estadoinvestigacion             0
estu_estudiante                      0
estu_fechanacimiento                 0
estu_genero                         47
estu_mcpio_presentacion              0
estu_mcpio_reside                   17
estu_nacionalidad                    0
estu_pais_reside                     0
estu_privado_libertad                0
fami_cuartoshogar                    0
fami_educacionmadre                  0
fami_educacionpadre                  0
fami_estratovivienda                 0
fami_personashogar                   0
fami_tieneautomovil                  0
fami_tienecomputador                 0
fami_tieneinternet                   0
fami_tienelavadora                   0
desemp_ingles                        0
punt_ingles                          0
punt_matematicas                     0
punt_sociales_ciudadanas         24707
punt_c_naturales                 24707
punt_lectura_critica             24707
punt_global                      24707
dtype: int64

In [50]:
#Muchos Null en la columna cole_bilingue, se procede a crear una categoria nueva.
df["cole_bilingue"] = df["cole_bilingue"].fillna("No reportado")

In [51]:
df.isnull().sum()

periodo                              0
estu_tipodocumento                   0
estu_consecutivo                     0
cole_area_ubicacion                  0
cole_bilingue                        0
cole_calendario                      0
cole_caracter                     2006
cole_cod_dane_establecimiento       95
cole_cod_dane_sede                   0
cole_cod_depto_ubicacion             0
cole_cod_mcpio_ubicacion             0
cole_codigo_icfes                    0
cole_depto_ubicacion                 0
cole_genero                          0
cole_jornada                         0
cole_mcpio_ubicacion                 0
cole_naturaleza                      0
cole_nombre_establecimiento          0
cole_nombre_sede                     0
cole_sede_principal                  0
estu_cod_depto_presentacion          0
estu_cod_mcpio_presentacion          0
estu_cod_reside_depto               17
estu_cod_reside_mcpio               17
estu_depto_presentacion              0
estu_depto_reside                   17
estu_estadoinvestigacion             0
estu_estudiante                      0
estu_fechanacimiento                 0
estu_genero                         47
estu_mcpio_presentacion              0
estu_mcpio_reside                   17
estu_nacionalidad                    0
estu_pais_reside                     0
estu_privado_libertad                0
fami_cuartoshogar                    0
fami_educacionmadre                  0
fami_educacionpadre                  0
fami_estratovivienda                 0
fami_personashogar                   0
fami_tieneautomovil                  0
fami_tienecomputador                 0
fami_tieneinternet                   0
fami_tienelavadora                   0
desemp_ingles                        0
punt_ingles                          0
punt_matematicas                     0
punt_sociales_ciudadanas         24707
punt_c_naturales                 24707
punt_lectura_critica             24707
punt_global                      24707
dtype: int64

In [ ]:
#Categorias de la categoria cole_caracter
df["cole_caracter"].unique()

array(['ACADÉMICO', 'TÉCNICO/ACADÉMICO', 'TÉCNICO', 'NO APLICA', nan],
      dtype=object)

In [ ]:
#Se hace lo mismo con la columna cole_caracter
df["cole_caracter"] = df["cole_caracter"].fillna("NO REPORTADO")

In [55]:
df.isnull().sum()

periodo                              0
estu_tipodocumento                   0
estu_consecutivo                     0
cole_area_ubicacion                  0
cole_bilingue                        0
cole_calendario                      0
cole_caracter                        0
cole_cod_dane_establecimiento       95
cole_cod_dane_sede                   0
cole_cod_depto_ubicacion             0
cole_cod_mcpio_ubicacion             0
cole_codigo_icfes                    0
cole_depto_ubicacion                 0
cole_genero                          0
cole_jornada                         0
cole_mcpio_ubicacion                 0
cole_naturaleza                      0
cole_nombre_establecimiento          0
cole_nombre_sede                     0
cole_sede_principal                  0
estu_cod_depto_presentacion          0
estu_cod_mcpio_presentacion          0
estu_cod_reside_depto               17
estu_cod_reside_mcpio               17
estu_depto_presentacion              0
estu_depto_reside                   17
estu_estadoinvestigacion             0
estu_estudiante                      0
estu_fechanacimiento                 0
estu_genero                         47
estu_mcpio_presentacion              0
estu_mcpio_reside                   17
estu_nacionalidad                    0
estu_pais_reside                     0
estu_privado_libertad                0
fami_cuartoshogar                    0
fami_educacionmadre                  0
fami_educacionpadre                  0
fami_estratovivienda                 0
fami_personashogar                   0
fami_tieneautomovil                  0
fami_tienecomputador                 0
fami_tieneinternet                   0
fami_tienelavadora                   0
desemp_ingles                        0
punt_ingles                          0
punt_matematicas                     0
punt_sociales_ciudadanas         24707
punt_c_naturales                 24707
punt_lectura_critica             24707
punt_global                      24707
dtype: int64

In [59]:
#Se observa que el numero de nulls en algunas pruebas especificas del examen es el mismo y que las pruebas de matematica e ingles son 0,
#  eso puede significar algo, entonces por ahora se dejan esas y se eliminan el resto porque en total son 210 filas no es ni el 0.5% de la muestra.
columnas_con_NA= [
    "cole_cod_dane_establecimiento",
    "estu_cod_reside_depto",
    "estu_cod_reside_mcpio",
    "estu_depto_reside",
    "estu_genero",
    "estu_mcpio_reside"
]

df = df.dropna(subset=columnas_con_NA)

In [60]:
df.isnull().sum()

periodo                              0
estu_tipodocumento                   0
estu_consecutivo                     0
cole_area_ubicacion                  0
cole_bilingue                        0
cole_calendario                      0
cole_caracter                        0
cole_cod_dane_establecimiento        0
cole_cod_dane_sede                   0
cole_cod_depto_ubicacion             0
cole_cod_mcpio_ubicacion             0
cole_codigo_icfes                    0
cole_depto_ubicacion                 0
cole_genero                          0
cole_jornada                         0
cole_mcpio_ubicacion                 0
cole_naturaleza                      0
cole_nombre_establecimiento          0
cole_nombre_sede                     0
cole_sede_principal                  0
estu_cod_depto_presentacion          0
estu_cod_mcpio_presentacion          0
estu_cod_reside_depto                0
estu_cod_reside_mcpio                0
estu_depto_presentacion              0
estu_depto_reside                    0
estu_estadoinvestigacion             0
estu_estudiante                      0
estu_fechanacimiento                 0
estu_genero                          0
estu_mcpio_presentacion              0
estu_mcpio_reside                    0
estu_nacionalidad                    0
estu_pais_reside                     0
estu_privado_libertad                0
fami_cuartoshogar                    0
fami_educacionmadre                  0
fami_educacionpadre                  0
fami_estratovivienda                 0
fami_personashogar                   0
fami_tieneautomovil                  0
fami_tienecomputador                 0
fami_tieneinternet                   0
fami_tienelavadora                   0
desemp_ingles                        0
punt_ingles                          0
punt_matematicas                     0
punt_sociales_ciudadanas         24707
punt_c_naturales                 24707
punt_lectura_critica             24707
punt_global                      24707
dtype: int64

In [ ]:
df.info()
#quedaron 566796 filas al final.

<class 'pandas.core.frame.DataFrame'>
Index: 566796 entries, 0 to 571636
Data columns (total 51 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   periodo                        566796 non-null  int64
 1   estu_tipodocumento             566796 non-null  object
 2   estu_consecutivo               566796 non-null  object
 3   cole_area_ubicacion            566796 non-null  object
 4   cole_bilingue                  566796 non-null  object
 5   cole_calendario                566796 non-null  object
 6   cole_caracter                  566796 non-null  object
 7   cole_cod_dane_establecimiento  566796 non-null  float64
 8   cole_cod_dane_sede             566796 non-null  int64
 9   cole_cod_depto_ubicacion       566796 non-null  int64
 10  cole_cod_mcpio_ubicacion       566796 non-null  int64
 11  cole_codigo_icfes              566796 non-null  int64
 12  cole_depto_ubicacion           566796 non-null  object
 13  cole_genero                    566796 non-null  object
 14  cole_jornada                   566796 non-null  object
 15  cole_mcpio_ubicacion           566796 non-null  object
 16  cole_naturaleza                566796 non-null  object
 17  cole_nombre_establecimiento    566796 non-null  object
 18  cole_nombre_sede               566796 non-null  object
 19  cole_sede_principal            566796 non-null  object
 20  estu_cod_depto_presentacion    566796 non-null  float64
 21  estu_cod_mcpio_presentacion    566796 non-null  float64
 22  estu_cod_reside_depto          566796 non-null  float64
 23  estu_cod_reside_mcpio          566796 non-null  float64
 24  estu_depto_presentacion        566796 non-null  object
 25  estu_depto_reside              566796 non-null  object
 26  estu_estadoinvestigacion       566796 non-null  object
 27  estu_estudiante                566796 non-null  object
 28  estu_fechanacimiento           566796 non-null  object
 29  estu_genero                    566796 non-null  object
 30  estu_mcpio_presentacion        566796 non-null  object
 31  estu_mcpio_reside              566796 non-null  object
 32  estu_nacionalidad              566796 non-null  object
 33  estu_pais_reside               566796 non-null  object
 34  estu_privado_libertad          566796 non-null  object
 35  fami_cuartoshogar              566796 non-null  object
 36  fami_educacionmadre            566796 non-null  object
 37  fami_educacionpadre            566796 non-null  object
 38  fami_estratovivienda           566796 non-null  object
 39  fami_personashogar             566796 non-null  object
 40  fami_tieneautomovil            566796 non-null  object
 41  fami_tienecomputador           566796 non-null  object
 42  fami_tieneinternet             566796 non-null  object
 43  fami_tienelavadora             566796 non-null  object
 44  desemp_ingles                  566796 non-null  object
 45  punt_ingles                    566796 non-null  float64
 46  punt_matematicas               566796 non-null  float64
 47  punt_sociales_ciudadanas       542089 non-null  float64
 48  punt_c_naturales               542089 non-null  float64
 49  punt_lectura_critica           542089 non-null  float64
 50  punt_global                    542089 non-null  float64
dtypes: float64(11), int64(5), object(35)
memory usage: 224.9+ MB

In [62]:
#Crear una nueva columna para decir si presentaron todas las areas o no.
df["presento_todas_las_areas"] = df["punt_global"].notna()

In [65]:
df["presento_todas_las_areas"].unique()

array([ True, False])

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 566796 entries, 0 to 571636
Data columns (total 52 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   periodo                        566796 non-null  int64
 1   estu_tipodocumento             566796 non-null  object
 2   estu_consecutivo               566796 non-null  object
 3   cole_area_ubicacion            566796 non-null  object
 4   cole_bilingue                  566796 non-null  object
 5   cole_calendario                566796 non-null  object
 6   cole_caracter                  566796 non-null  object
 7   cole_cod_dane_establecimiento  566796 non-null  float64
 8   cole_cod_dane_sede             566796 non-null  int64
 9   cole_cod_depto_ubicacion       566796 non-null  int64
 10  cole_cod_mcpio_ubicacion       566796 non-null  int64
 11  cole_codigo_icfes              566796 non-null  int64
 12  cole_depto_ubicacion           566796 non-null  object
 13  cole_genero                    566796 non-null  object
 14  cole_jornada                   566796 non-null  object
 15  cole_mcpio_ubicacion           566796 non-null  object
 16  cole_naturaleza                566796 non-null  object
 17  cole_nombre_establecimiento    566796 non-null  object
 18  cole_nombre_sede               566796 non-null  object
 19  cole_sede_principal            566796 non-null  object
 20  estu_cod_depto_presentacion    566796 non-null  float64
 21  estu_cod_mcpio_presentacion    566796 non-null  float64
 22  estu_cod_reside_depto          566796 non-null  float64
 23  estu_cod_reside_mcpio          566796 non-null  float64
 24  estu_depto_presentacion        566796 non-null  object
 25  estu_depto_reside              566796 non-null  object
 26  estu_estadoinvestigacion       566796 non-null  object
 27  estu_estudiante                566796 non-null  object
 28  estu_fechanacimiento           566796 non-null  object
 29  estu_genero                    566796 non-null  object
 30  estu_mcpio_presentacion        566796 non-null  object
 31  estu_mcpio_reside              566796 non-null  object
 32  estu_nacionalidad              566796 non-null  object
 33  estu_pais_reside               566796 non-null  object
 34  estu_privado_libertad          566796 non-null  object
 35  fami_cuartoshogar              566796 non-null  object
 36  fami_educacionmadre            566796 non-null  object
 37  fami_educacionpadre            566796 non-null  object
 38  fami_estratovivienda           566796 non-null  object
 39  fami_personashogar             566796 non-null  object
 40  fami_tieneautomovil            566796 non-null  object
 41  fami_tienecomputador           566796 non-null  object
 42  fami_tieneinternet             566796 non-null  object
 43  fami_tienelavadora             566796 non-null  object
 44  desemp_ingles                  566796 non-null  object
 45  punt_ingles                    566796 non-null  float64
 46  punt_matematicas               566796 non-null  float64
 47  punt_sociales_ciudadanas       542089 non-null  float64
 48  punt_c_naturales               542089 non-null  float64
 49  punt_lectura_critica           542089 non-null  float64
 50  punt_global                    542089 non-null  float64
 51  presento_todas_las_areas       566796 non-null  bool
dtypes: bool(1), float64(11), int64(5), object(35)
memory usage: 225.4+ MB

In [67]:
#Se descarga el archivo como un Exell
df.to_csv("Icfes_limpio.csv", index=False)